body {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.body-content {
    display: flex;
    flex-direction: column;
    /* border: 20px solid blue; */
    flex: 1;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 900px;
}

.roundNumber {
    padding: 20px 50px;
    font-size: 26px;
}

.button-container {
    display:flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
}

button {
    border: 20px solid;
    padding: 100px 50px;
    font-size: 26px;
    margin: 20px;
    width: 300px;
    border-radius: 40px;
    font-weight: bold;
}

.results {
    padding: 20px 50px;
    font-size: 26px;
}

.score {
    padding: 20px 50px;
    font-size: 26px;
}

.winner {
    padding: 20px 50px;
    font-size: 26px;
}

.rock {
    color: white;
    background-color: rgba(190, 75, 30, 0.925);
    border: 20px solid rgb(184, 94, 20)
}

.paper {
    color: black;
    background-color: rgb(173, 164, 164);
    border: 20px solid rgb(168, 159, 159);
}

.scissors {
    color: white;
    background-color: rgb(80, 68, 68);
    border: 20px solid rgb(83, 76, 76);
}